* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 2.5rem;
}
li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}
a {
  color: gray;
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  min-height: 100vh;
}

.main-head {
  width: 100%;
  margin: 0 0 0 auto;
  box-shadow: 5px 5px 5px 0 rgb(233, 233, 233);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}

nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 10rem;
}
nav .logo h1 {
  margin: 2rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 40rem;
}

.hero {
  min-height: 89vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-image {
  flex: 2 1 40rem;
  background: rgb(243, 243, 243);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  flex: 1 1 40rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.hero-text h2 {
  padding: 2rem;
}
.hero-text h3 {
  padding: 2rem;
  color: grey;
}
.hero-text h3 span {
  line-height: 4rem;
}
.hero-btn button {
  border: none;
  padding: 1rem 2rem;
  background: rgb(245, 245, 245);
  color: grey;
  border-radius: 20px;
  margin: 1rem;
}
.hero-btn button.btn-create {
  background: rgb(39, 39, 39);
  color: white;
}

#brazo {
  animation: brazo 1.2s ease infinite alternate;
  transform-origin: center;
}

@keyframes brazo {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
.center{
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 100px;
  align-items: center;
  align-content: center;
}
.center h2{
  text-align: center;
  font-size: 40px;
}
.login-container {
  background: #fff;
  width: 100%;
  max-width: 111rem; /*1110px*/
  height: 100vh;
  max-height: 80rem; /* 800px */
  overflow-y: auto;
  box-shadow: 0px 2rem 3rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem; /* 10px */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.header-login {
  width: 100%;
  width: 100%;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-login .header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-login .header-container .title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 4rem;
}
.header-login .header-container button,
.boton-container button {
  background: black;
  width: 16rem; /* 250px */
  margin-left: 2rem; /* 20px */
  border: none;
  border-radius: 1rem; /* 10px */
  color: #fff;
  font-family: "Work Sans", sans-serif;
  height: 6rem; /* 60px */
  padding: 2rem 3rem; /* 20px 30px */
  font-size: 2rem; /* 20px */
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.form {
  padding: 0 4rem; /* 40px */
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form input {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  font-family: "Work Sans", sans-serif;
  font-size: 4rem; /* 40px */
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}
.form input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.svg svg {
  width: 100%;
  max-height: 20rem; /* 200px */
  margin-bottom: 2rem;
}
.boton-container {
  display: flex;
  justify-content: center;
  margin: 4rem 0; /* 40px */
}
.boton-container button {
  background: green;
  width: 20rem;
  justify-content: center;
}
.boton-container button a {
  color: white;
  font-size: 2rem;
}
.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: black;
}
.row100 .inputBox input,
.row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  z-index: 1;
  color: rgb(245, 245, 245);
}
.row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 20px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.row100 .inputBox input:focus + .text,
.row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #5c5c5e, #050505);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.row100 .inputBox input:focus ~ .line,
.row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}
.row100 .inputBox textarea:focus + .text,
.row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.row100 .inputBox textarea:focus ~ .line,
.row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}
.row100 input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(#050505, #59545c05);
  color: rgb(245, 245, 245);
  font-size: 20px;
  border-radius: 2px;
}
input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #eeeeee;
  color: #000;
  font-size: 20px;
  border-radius: 2px;
}
.list{
  margin-top: 35px;
  margin-left: 7px;
  font-size: 20px;
  border: none;
  color: #111111;
  background: linear-gradient(#5a5959, #07070705);
}
.main-page-header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
.main-page-header h2 {
  padding: 3.2rem;
}
.main-page-header #logo {
  text-decoration: none;
  color: black;
}
.search-form {
  padding: 3.2rem;
  display: flex;
}
.search-form input {
  font-size: 3.2rem;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(32, 32, 32);
}
.search-form button {
  border: none;
  padding: 0.8rem;
  font-size: 1.62rem;
  background: rgb(32, 32, 32);
  color: white;
  cursor: pointer;
}
.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.8rem 0;
}
.gallery-info p {
  color: gray;
  font-size: 2rem;
}
.gallery-info a {
  color: gray;
  font-size: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 3rem 0;
  width: 80%;
  margin: auto;
  row-gap: 7rem;
  column-gap: 4rem;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 2rem 4.5rem;
  background: rgb(32, 32, 32);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
